<div class="container">
  <main class="pt-3 pb-5" role="main">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <small><%= @minimum_password_length %> 文字以上で入力してください。</small>
          <% end %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン情報を保存する" %>
        </div>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>

      <%= render "coaches/shared/links" %>

  <% end %>
  </main>
</div>